html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  font-size: 100%;
  overflow: hidden;
  padding: 0;
  -webkit-user-select: none;
  user-select: none;
}
* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #191919;
}

#background {
  height: 100%;
  background-image: url('assets/bg.png'), url('bg.png');
  background-size: 100% 100%;
  bottom: 0;
  image-rendering: pixelated;
  left: 0;
  position: absolute;
  overflow: hidden;
  right: 0;
  top: 0;
}

#guide {
  height: 100%;
  background: #1e1e1e;
  width: 110px;
  box-shadow: 0.1em 0 1em 0em black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}